


<div class="card text-center">
    <div class="card-header">
      <h3 style="padding-right: 300px;">Hungry?!</h3>
      <h5>Good, we are here to serve you</h5>
    </div>
    <h5 class="card-title" style="text-align: left; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 30px; padding-left: 20px;">FOODDAY:)</h5>
    <div class="card-body">
      <h5 class="card-title" style="color: green; font-size: 25PX;">Cities  we deliver to ..  </h5>
      <span style="color: rgb(169, 209, 129); font-size: 30PX;">  
        <marquee direction="right"  scrollamount="15"><img src="../assets/images/Bike.jpg" width="70px" height="70px" ></marquee></span>
     <table align="center" border="0" style="width: 80%; font-size: 20px;color: orange; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: lighter;">
       <tr style="padding: 10px; color: orange;"><th>Delhi</th> <th>Kolkata</th>
       <th >Mumbai</th>
       <th>Bangalore </th>
       <th>Pune</th>
      </tr>
       <tr>
         <th>Hyderabad</th> 
         <th>Chennai</th>
       <th>Lucknow</th>
       <th>Kochi </th>
       <th>Jaipur</th>
       </tr>
       <tr><th>Ahmedabad</th>
          <th>Chandigarh</th>
         <th>Goa</th>
         <th>Indore </th>
         <th>Nashik</th></tr>

         <tr><th>Ooty</th>
           <th>Shimla</th>
          <th>Ludhiana</th>
          <th>Guwahati </th>
          <th>Amritsar</th></tr>


          <tr><th>Kanpur</th>
           <th>Allahabad</th>
          <th>Aurangabad</th>
          <th>Bhopal </th>
          <th>Ranchi</th></tr>


          <tr><th>Visakhapatnam</th>
           <th>Bhubaneswar</th>
          <th>Coimbatore</th>
          <th>Mangalore </th>
          <th>Vadoda</th></tr>

         
     </table>
    
      <a href="https://www.Google.com/" class="btn btn-primary">To Know More</a>
    </div>
    <div class="card-footer text-muted">
      <span><h4 style="text-align: center;">Social Links<br>
       
        <a href="https://www.facebook.com/" target="block"><img src="../assets/images/ff.png"width="30px" height="30px"></a>
        <a href="https://www.youtube.com/" target="block"><img src="../assets/images/yt.png"width="40px" height="40px"></a>
        <a href="https://www.instagram.com/" target="block"><img src="../assets/images/insta.jpg" width="30px" height="30px"></a>
        <a href="https://www.twitter.com/" target="block"><img src="../assets/images/twitter.png" width="30px" height="40px"></a></h4></span>
    </div>
  </div>