



<br>
<h3><u style="color: rgb(245, 241, 10);"><span style="color: orange;">
    Snack</span><span style="color: rgb(107, 235, 107);">  Items</span></u> </h3>
<br>
<div class="card-group">
    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title">Elaichi Tea</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/Elaichi Tea.jpg" width="500px" height="200px" alt="Card image cap">
      <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div>


    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;"> Indian Cardamom Tea</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/Indian Cardamom Tea.jpg"  width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div>

    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">South Indian Filter Coffee</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/South Indian Filter Coffee.jpg " width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div>
    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Normal Coffee  </h5>
          </div>
      <img class="card-img-top" src="../../assets/images/normalcofee.jpg "width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div></div>





    <div class="card-group">
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Veg Frankie</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/Veg Frankie.jpg" width="500px" height="200px" alt="Card image cap">
          <div class="card-footer">
            <h5 class="card-title">Price--150/-</h5>
          </div>
        </div>
    
    
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Paneer Pakoda </h5>
              </div>
          <img class="card-img-top" src="../../assets/images/Paneer Pakoda.jpg   "  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--150/-</h5>
          </div>
        </div>
    
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Punjabi Samosa</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/Punjabi Samosa.jpg"  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--100/-</h5>
          </div>
        </div>
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Onion Pakoda </h5>
              </div>
          <img class="card-img-top" src="../../assets/images/onion Pakoda.jpg"  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--100/-</h5>
          </div>
        </div></div>
        <br><br>
    <br>



    

    
    
    


