



<br>
<h3><u style="color: rgb(245, 241, 10);"><span style="color: orange;">
    Fastfood</span><span style="color: rgb(107, 235, 107);">  Items</span></u> </h3>
<br>
<div class="card-group">
    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title">Pizza</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/pizza.jpg" width="500px" height="200px" alt="Card image cap">
      <div class="card-footer">
        <h5 class="card-title">Price--180/-</h5>
      </div>
    </div>


    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;"> Pastha</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/pasta.jpg"  width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--150/-</h5>
      </div>
    </div>

    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Burgre</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/burger.jpg " width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--150/-</h5>
      </div>
    </div>
    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;"> Noodles </h5>
          </div>
      <img class="card-img-top" src="../../assets/images/noodles.jpg "width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--100/-</h5>
      </div>
    </div></div>





    <div class="card-group">
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Gobhi Manchuria</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/gobhi machuria.jpg" width="500px" height="200px" alt="Card image cap">
          <div class="card-footer">
            <h5 class="card-title">Price--100/-</h5>
          </div>
        </div>
    
    
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;"> French  fries</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/frenchfried.jpg    "  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--250/-</h5>
          </div>
        </div>
    
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">chicken nuggets</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/chicken nuggets.jpg"  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--350/-</h5>
          </div>
        </div>
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">sandwiches </h5>
              </div>
          <img class="card-img-top" src="../../assets/images/sandwiches.jpg"  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--150/-</h5>
          </div>
        </div></div>
        <br><br>
    <br>



    

    
    
    

