

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   
    
    
      
    <h5 style="font-size: 40px; font-family:cursive; color: orange; text-align: center;">Food
       <span style="font-size: 30px;  font-family:cursive;">day :)</span></h5>
       <p style="padding-left: 700px; font-size: 20px; font-style: oblique; color: rgb(16, 214, 42);">Never had a bad Meal</p>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 60px;">
      <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="starters">Starters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="breakfast">Breakfast</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="fastfood">Fastfood</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="salads">Salads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="snacks">Snacks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="softdrinks">SoftDrinks</a>
            </li>
          </ul></div>
        <ul>
          <nav  style="text-align: end; float: right;" class="navbar navbar-dark bg-dark" class="navbar-text">
            <form class="container-fluid justify-content-start" >
             <a  routerLink="signup"> <button  class="btn btn-outline-danger me-2" type="button" type="button">SIGN UP</button></a>
             <a routerLink="login"><button  style="float: right;" class="nav justify-content-end" 
              class="btn btn-outline-success me-2" type="button">LOGIN</button></a>
              <img src="../assets/images/cart.jpg" width="40px" height="30px">
              
            </form>
          </nav>
        </ul> 
      </div>
      
    </nav>




    
  </body>
</html>



<router-outlet></router-outlet>
<app-carousel></app-carousel>
<app-footer></app-footer>
