



<br>
<h3><u style="color: rgb(245, 241, 10);"><span style="color: orange;">
    Softdrinks</span><span style="color: rgb(107, 235, 107);">  </span></u> </h3>
<br>
<div class="card-group">
    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title">Coca-Cola Zero</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/Coca-Cola Zero..jpg" width="500px" height="200px" alt="Card image cap">
      <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div>


    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;"> Coke</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/coke.jpg"  width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div>

    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Coca-Cola</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/Coca-Cola..jpg " width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div>
    <div class="card" style="padding: 10px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Ginger ale</h5>
          </div>
      <img class="card-img-top" src="../../assets/images/Ginger ale..jpg "width="500px" height="200px" alt="Card image cap">
     
     <div class="card-footer">
        <h5 class="card-title">Price--50/-</h5>
      </div>
    </div></div>





    <div class="card-group">
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Root beer</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/Root beer..jpg" width="500px" height="200px" alt="Card image cap">
          <div class="card-footer">
            <h5 class="card-title">Price--50/-</h5>
          </div>
        </div>
    
    
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Fanta </h5>
              </div>
          <img class="card-img-top" src="../../assets/images/Fanta.jpg   "  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--50/-</h5>
          </div>
        </div>
    
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Pepsi</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/Pepsi.jpg"  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--50/-</h5>
          </div>
        </div>
        <div class="card" style="padding: 10px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Diet Coke</h5>
              </div>
          <img class="card-img-top" src="../../assets/images/Diet Coke.jpg"  width="500px" height="200px" alt="Card image cap">
         
         <div class="card-footer">
            <h5 class="card-title">Price--50/-</h5>
          </div>
        </div></div>
        <br><br>
    <br>



    

    
    
    


